<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird.business.dao.SysUserDao">
    <!-- 查找用户列表 -->
    <select id="getUserList" resultType="com.bird.business.domain.SysUser" parameterType="java.util.Map">
        select uuid,uname,
            case sex
            when '1' then
            '男'
            else
            '女'
            end sex,age
            from user_test t
        where flag = 1
        <if test="uname != null and uname != ''">
            and uname like CONCAT('%', #{uname}, '%')
        </if>
        <if test="sex != null and sex != ''">
            and sex = #{sex}
        </if>
    </select>

    <!-- 删除用户 -->
    <update id="deleteUserByUuid" parameterType="java.util.Map">
        update user_test set flag = 0 where uuid = #{uuid}
    </update>

    <!-- 查询用户 -->
    <select id="getUserByUuid" parameterType="java.lang.String" resultType="com.bird.business.domain.SysUser">
        select uuid,uname,case sex
                 when '1' then
                  '男'
                 else
                  '女'
                end sex,age from user_test where uuid = #{uuid}
    </select>

    <!-- 新增用户 -->
    <update id="addUser" parameterType="java.util.Map">
        INSERT INTO `user_test` (
          `UUID`,
          `UNAME`,
          `SEX`,
          `AGE`,
          `FLAG`,
          `CREATE_TIME`
        )
        VALUES
          (
            #{uuid},
            #{uname},
            #{sex},
            #{age},
            '1',
            NOW()
          )
    </update>

    <!-- 新增/修改用户 -->
    <update id="updateUser" parameterType="java.util.Map">
        UPDATE
          `user_test`
        SET
          `uname` = #{uname},
          `sex` = #{sex},
          `age` = #{age},
          `create_time` = NOW()
        WHERE `uuid` = #{uuid}
    </update>
</mapper>